Options +FollowSymlinks
RewriteEngine on
RewriteRule ^server/pages/(.*)$ server/pages.php?id=$1 [NC,L]
RewriteRule ^server/pages server/pages.php [NC]

RewriteRule ^server/users/(.*)$ server/users.php?id=$1 [NC,L]
RewriteRule ^server/users server/users.php [NC]

