body {
	background:#000 url(../images/bg.jpg) no-repeat bottom left;
	height:670px;
	overflow:hidden;

}

.container {
	width:1024px;
	margin:0 auto;
	min-height:650px;
}

header {
	padding:20px 0 40px;
	position:relative;
}

header h2 {
	width:524px;
	height:44px;
	background:url(../images/logo.png) no-repeat 0 0;
	text-indent:-999px;
}

header h3 {
	position:absolute;
	right:0;top:20px;
	background:url(../images/gap.png) no-repeat top right;
	padding-right:65px;
	padding-bottom:50px;
	font-size:120%;
}

nav {
	float:left;
}

nav ul li a {
	display:block;
	width:180px;
	height:36px;
	margin-bottom:20px;
	background:url(../images/nav.jpg) no-repeat 0 0;
	line-height:34px;
	padding-left:10px;
	text-decoration:none;
	font-size:180%;
	text-shadow: 2px 2px #000000;
}

nav ul li a:hover {
	background-position: 0 -46px;
	color:#000;
	text-shadow: none;
}

.content {
	background:url(../images/content.png) repeat 0 0;
	width:780px;
	height:500px;
	overflow:hidden;
	float:right;
	position:relative;
	margin-left:20px;
}

.content h1 {
	color:#847c7b;
	margin-bottom:20px;
}

.content p {
	line-height:1.5;
}

.team {
	margin-bottom:20px;
	overflow:hidden;
}

.team img {
	float:right;
	display:inline;
}

.gallery {
	height:400px;
}

.section,.section2 {
	visibility:hidden;
	height:460px;
	overflow:auto;
	position:absolute;
	left:20px;
	top:20px;
	width:740px;
}

.loader {
	background:url(../images/ajax-loader.gif) no-repeat center center !important;
}