/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// UNIVERSAL STYLES
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
	margin: 0px;
	padding: 0px;
	border: 0px solid black;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt;
}

img {
	display: inline;
	vertical-align: bottom;
}

td, th {
	text-align: left;
	vertical-align: top;
}

p, ul {
	text-align: justify;
	padding-bottom: 20px;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// MAIN LAYOUT
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// HEADERS
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// LISTS
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// TABLES
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// LINKS
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// FORMS
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// MISC
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.justified {
	text-align: justify;
}

.error {
	color: #CC0000;
	font-weight: bold;
}

.clearBoth {
	clear: both;
}

.removed {
	display: none;
}

.bringToFront { 
	z-index: 2006;
}

.clickableHelp
{
	cursor: help;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// PLUGINS
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
